<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
                <div class="row">
                     <div class="col-md-8 col-xs-12">
                          <div class="img2">
                           <img src="/assets/app.png" alt="Instagram" class="center-block">
                          </div>
                     </div>

              
                     <div class="col-md-4 col-xs-12">  
                          <div id="box" class="border">
                              <img src="/assets/ins.png" alt="Instagram" style="width:160px;height:60px;"> 
                              <div class="font"> 
                  				   <p><b>We can help you reset your password using your Instagram username </b></p>
                  				   <p><b> or the email address linked to your account.</b></p>
                    			</div>

                    			<div class="hr-sect">OR</div>


                              <form>                            	
                                <div class="form-group">
                                  <%= f.email_field :email, autofocus: true, placeholder: "Email or Username" %>
                                </div>                 

                                 <div class="form-group">
                                   <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                                </div>
                              </form>
                            </div>

                              <div id="box1" class="border">
                                Don't have an account? <a href="#"></a>
                                <%= render "devise/shared/links" %>
                              </div>

                              <div><p style="text-align: center;">Get the app.</p></div>

                              <div class="apps">
                                <img class="app" src="/assets/apps.png" alt="Apps Store">
                                <img class="go" src="/assets/google.png" alt="Google">
                              </div>
                       </div>
                    </div>
              </div>

 
<% end %>
